<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupos</title>
    <link rel="stylesheet" href="../src/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/grupos.css" />
  </head>

  <body>
    <header>
      <h1>GRUPO 2</h1>
      <nav>
        <ul>
          <li class="btn-sign-out">SIGN OUT</li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="hero">
        <h1>
          CONOCE A LOS EQUIPOS DE
          <b style="color: var(--color-secundario)">DESARROLLADORES</b>
        </h1>
        <img src="../img/grupo-hero.png" alt="" />
      </section>
      <section class="card-container">
        <!-- <div class="card">
                <h2>Nombre del grupo aqui</h2>
                <button class="btn" type="submit">Mostrar más</button>
            </div> -->
      </section>
    </main>

    <footer>
      <a href=""></a>
    </footer>
    <script src="../scripts/utils"></script>
    <script src="../scripts/grupos.js"></script>
  </body>
</html>
