<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupos</title>
    <link rel="stylesheet" href="../src/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../src/styles/info.css" />
  </head>

  <body>
    <header>
      <h1>GRUPO 2</h1>
      <nav>
        <ul>
          <li><a href="./grupos.html">GRUPOS</a></li>
          <li class="btn-sign-out">SIGN OUT</li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="titulo-info"></h1>
      <div class="integrantes-container"></div>
      <!-- <div class="card">
        <img src="../img/usuario.png" />
        <div class="info-text">
          <h3>Joaquin Parada</h3>
          <ul>
            <li>id:</li>
            <li>Telefono:</li>
            <li>Mail:</li>
          </ul>
        </div>
      </div> -->
    </main>

    <script src="../scripts/utils"></script>
    <script src="../scripts/info.js"></script>
  </body>
</html>
